.calculator {
    height: 700px;
    width: 400px;
    border: 1px dashed green;
    text-align: right;
    background: #6d6d6d
}

.clear-container {
    display: flex;
}

.clear {
    height: 20px;
    width: 100%;
}

button {
    border: none;
    box-shadow: none;
    margin: 2px;
}

.numpad-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.buttons-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}